<%- include('../../../layouts/default/header.ejs') %>

    <h1>Registro de Usuario</h1>
    <form action="/users/register" method="post">

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" placeholder="Nombre del usuario " class="form-control" value="<%= usuario.name %>" autofocus>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email del usuario" class="form-control" value="<%= usuario.email %>">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username del usuario" class="form-control" value="<%= usuario.username %>">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password del usuario" class="form-control" value="<%= usuario.password %>">
                </div>
                <div class="form-group">
                    <label for="repassword">Confirmar Password</label>
                    <input type="password" id="repassword" name="repassword" placeholder="Repita el password del usuario" class="form-control" value="<%= repassword %>">
                </div>
                              
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>

    </form>

<%- include('../../../layouts/default/footer.ejs') %>