<%- include('../../../layouts/admin/header.ejs') %>

    <h2 class="page-title d-flex justify-content-between">
        <span>Productos</span>
        <a href="/admin/products/add" class="btn btn-success">
            Agregar nuevo producto
        </a>
    </h2>
    <br>
    <div class="card">
        <div class="card-body">

            <% if(count){ %>
            
            <table class="table table-striped table-hover alignmiddle">
                <thead>
                    <tr class="home">
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Imagen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product=>{ %>
                        <tr>
                            <td>
                                <%= product.title %>
                            </td>
                            <td>
                                $<%= parseFloat(product.price).toFixed(2) %>
                            </td>
                            <td>
                                <%= product.category %>
                            </td>
                            <td>
                                <% if(product.image==""){ %>

                                    <img class="img-resize" src="/images/noimage.png" alt="no imagen">
                                
                                <% }else{%>
                                    <img src="/images/products/<%= product._id %>/<%= product.image %>" alt="<%= product.title %>" class="img-resize">
                                <% } %>
                            </td>
                            <td>
                                <a href="/admin/products/edit/<%= product._id %>" class="btn btn-warning">Editar</a>
                            </td>
                            <td>
                               <a href="/admin/products/delete/<%= product._id %>" class="btn btn-danger confirmarEliminacion">Eliminar</a>
                            </td>
                        </tr>
                    <% }); %>    
                </tbody>
            </table>

            <% }else{ %>

                <div class="alert alert-warning text-center">
                    No se encontraron productos
                </div>

            <% } %>    

        </div>
    </div>
<%- include('../../../layouts/admin/footer.ejs') %>